body {
    transition: background-color 0.3s, color 0.3s;
}

.light-mode {
    background-color: #fff;
    color: #333;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

#theme-toggle-btn {
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
}

.light-mode #theme-toggle-btn {
    background-color: #333;
    color: #fff;
    border-color: #333;
}

.dark-mode #theme-toggle-btn {
    background-color: #fff;
    color: #333;
    border-color: #fff;
}
