body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-image: linear-gradient(135deg, #ff4d53, #d57e44, #dae630);
    font-family: cursive;
  }
  
  .container {
    background-color: rgb(255, 128, 99);
    width: 500px;
    height: 250px;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .textarea {
    resize: none;
    width: 100%;
    height: 130px;
    font-size: 18px;
    font-family: sans-serif;
    padding: 10px;
    box-sizing: border-box;
    border: solid 2px darkgray;
  }
  
  .counter-container {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
  }
  
  .counter-container p {
    font-size: 18px;
    color: gray;
  }
  
  .total-counter {
    color: slateblue;
  }
  
  .remaining-counter {
    color: orangered;
  }